<a href="https://colab.research.google.com/github/haeun1star/Mobis_Python_2023/blob/main/230803_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 변수
변수 : 나중에 참조할 수 있는 정보를 저장하는데 사용

In [ ]:
result = 3 * 5
result

15

In [ ]:
4 * result

60

In [ ]:
result / 15

1.0

In [ ]:
# 정수 (integer)
a = 10

# 실수 (float)
b = 6.38174

# 문자열 (string)
c = 'python'
d = "code"
e = '20'
f = "It's a string"
g = 'He said "It is a string!"'
h = """He said: "Hello, I've got a question" from the audience"""
i = '''He said: "Hello, I've got a question" from the audience'''

# boolean > 조건문에서 자주 사용
bool('A' == 'B')

False

In [ ]:
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)
print(h)
print(i)

10
6.38174
python
code
20
It's a string
He said "It is a string!"
He said: "Hello, I've got a question" from the audience
He said: "Hello, I've got a question" from the audience

변수명 만들기
- 가능한 문자들 : 알파벳 소문자 / 대문자, 숫자 0~9, _
- _, 알파벳으로 시작해야 함
- 대소문자 구분

In [ ]:
# 가능한 변수 이름
name_1 = 29
name_2 = 'pen'
_watch_type = 'apple'

In [ ]:
# 불가능한 변수 이름
1to2 = 2
my-number = '010'
my number = '8201'

In [ ]:
savemoney = 100
saveMoney = 200

In [ ]:
# 예약어
None, True, False, and, as, assert, break, class, continue, def, del, elif,
else, except, finally, for, from, global, if, import, in, is, lambda, nonlocal,
not, or, pass, raise, return, try, while, with, yield

숫자의 경우 int, float, str 형태 자유롭게 변환 가능

In [ ]:
# int() : () 안의 데이터를 int 형으로 바꾼다.
# float() : () 안의 데이터를 float형으로 바꾼다.
# str() : () 안의 데이터를 string 형으로 바꾼다.
int(b), float(b), str(b)

(6, 6.38174, '6.38174')

## 입력과 출력
화면 출력

In [ ]:
print("Hello World!")
print("Hyundai", "Mobis") # ""로 구분된 문자열 사이 공백이 하나씩 들어감
print("Hyundai", "Mobis", sep="**") # 공백 대신 sep인자가 들어감
print("Hyundai" + "Mobis") # 공백없이 문자열을 출력하고싶다면? 단, 문자열 + 숫자는 연결 안됨
print("Hyundai", "Mobis" + ":", "This Company")

Hello World!
Hyundai Mobis
Hyundai**Mobis
HyundaiMobis
Hyundai Mobis: This Company

In [ ]:
print(3)
print(a)

3
10

In [ ]:
print('its name', name_2)
# new format string
print(f'its name is {name_2} and i want to buy {_watch_type} watch')
# format string
print('its name is {} and i want to buy {} watch'.format(name_2, _watch_type))
print('its name is {0} and i want to buy {1} watch'.format(name_2, _watch_type))

print('A tab: \t and some text')
print('A,\nB') # 개행문자

print("Welcome to ", end="") # 자동으로 들어가는 \n 대신 아무것도 넣지 않아서
print("python!!") # 줄 바꿈 없이 연결됨

its name pen
its name is pen and i want to buy apple watch
its name is pen and i want to buy apple watch
its name is pen and i want to buy apple watch
A tab: 	 and some text
A,
B
Welcome to python!!

키보드 입력

In [ ]:
today_w = input("Today's weather : ")
tomorrow_w = input("Tomorrow's weather : ")

Today's weather : Sunny
Tomorrow's weather : Rainy

In [ ]:
print(today_w)
print(tomorrow_w)

Sunny
Rainy

In [ ]:
num_input = input("숫자를 입력하세요 : ")
print("당신이 입력한 숫자는 {}입니다.".format(num_input))

숫자를 입력하세요 : 5
당신이 입력한 숫자는 5입니다.

In [ ]:
num_input2 = input("정사각형의 한 변의 길이는?: ")
area = int(num_input2) ** 2
print("정사각형의 넓이: {}".format(area))

area_2 = float(num_input2) ** 2
print("정사각형의 넓이: {}".format(area_2))

정사각형의 한 변의 길이는?: 7
정사각형의 넓이: 49
정사각형의 넓이: 49.0

## 연산자
### *사칙연산*
'+' : 더하기

'-' : 빼기

'*' : 곱하기

'**' : 거듭제곱

'/' : 나누기

'//' : 몫 구하기

'%' : 나머지 구하기

In [ ]:
2**4, 300/6, 100/9, 100//9, 100%9

(16, 50.0, 11.11111111111111, 11, 1)

In [ ]:
1.5**2, 2**(1/2)

(2.25, 1.4142135623730951)

math 라이브러리를 이용하면 거듭제곱, 거듭제곱근 등 다양한 함수를 이용할 수 있다.

In [ ]:
num1 = 3
num2 = 5
num3 = 10

print(num1+num3) # 3+10
print(num2-num3) # 5-10
print(num1*num3) # 3*10
print(num2/num3) # 5/10
print(num2//num3) # 5/10 (몫)
print(num3%num1) # 10/3 (나머지)

13
-5
30
0.5
0
1

In [ ]:
3 * 10 ** 8

300000000

In [ ]:
3e8

300000000.0

In [ ]:
1e3, 1e15, 1e16

(1000.0, 1000000000000000.0, 1e+16)

In [ ]:
1e-4, 1e-5

(0.0001, 1e-05)

문자열은 + 와 * 를 이용할 수 있다.

In [ ]:
lunch = '밥'
dinner = '고기'
print(lunch + dinner)

print(dinner*10)

밥고기
고기고기고기고기고기고기고기고기고기고기

### *논리연산*
and, & : 동시 충족

or, | : 조건 충족

in : 보유 여부

is : 같은가?

not : 다른가?

== : 같은 값인가?

!= : 다른 값인가?

'>, <, >=, <=' : 대소 비교

In [ ]:
print(10 > 5)
print(10 < 5)
print(10 == 5)
print(10 == '10')
print(10 != 5)

True
False
False
False
True

In [ ]:
width = 10
length = 50

print(width > length)
print(length == 50)

False
True

In [ ]:
print(1 > 0 and -2 < 0)

True

In [ ]:
print((3 < 0) and ((-5 > 0) and (1 > 5))) # F and (F and F) = F and F
print((3 > 0) or ((-5 > 0) and (1 > 5))) # T or (F and F) = T or F
print(((3 > 0) or (-5 > 0)) and ((4 > 8) or (3 < 0))) # (T or F) and (F or F) = T and F

False
True
False

In [ ]:
print('He' in 'Hello')
print('M' in 'Mobis', 'B' not in 'Mobis')

True
True True

In [ ]:
ex_a = [1, 2, 3]
ex_b = [1, 2, 3]
ex_c = ex_a

print(ex_a == ex_b)
print(ex_a is ex_b)
print(ex_a == ex_c)
print(ex_a is ex_c)

print(id(ex_a))
print(id(ex_b))
print(id(ex_c))

True
False
True
True
140205753176640
140204927379072
140205753176640

In [ ]:
ex_a = 10
ex_b = 10
ex_c = ex_a

print(ex_a == ex_b)
print(ex_a is ex_b)
print(ex_a == ex_c)
print(ex_a is ex_c)

True
True
True
True

In [ ]:
ex_a = 300
ex_b = 300
ex_c = ex_a

print(ex_a == ex_b)
print(ex_a is ex_b)
print(ex_a == ex_c)
print(ex_a is ex_c)

True
False
True
True

## 자료구조

*리스트 (List)*

리스트 만들기

In [ ]:
student1 = [90, 95, 85, 80]
student1

[90, 95, 85, 80]

In [ ]:
type(student1)

list

In [ ]:
# list에서 index값에 맞는 값 뽑아내기
# 처음부터 0, 1, 2, 3, ...로 진행
# 마지막 값은 보통 -1로 지칭
student1[0], student1[1], student1[3], student1[-1]

(90, 95, 80, 80)

In [ ]:
student1[1] = 100 # student1의 [1] 인덱스를 가진 값을 100으로 변경
student1

[90, 100, 85, 80]

In [ ]:
myFriends = ['Kim', 'Jung', 'Lee', 'Park'] # 리스트 선언
myFriends

['Kim', 'Jung', 'Lee', 'Park']

In [ ]:
myFriends[2]

'Lee'

In [ ]:
mixedList=[0, 2, 3.14, 'python', 'program', True, myFriends]
mixedList

[0, 2, 3.14, 'python', 'program', True, ['Kim', 'Jung', 'Lee', 'Park']]

리스트 다루기

In [ ]:
list_con1 = [0, 1, 2, 3, 4]
list_con2 = [5, 6, 7, 8]

# 리스트 합연산 (+)
list_con = list_con1 + list_con2
print(list_con)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# 리스트 곱연산 (*)
list_con = list_con1 * 3
print(list_con)

[0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4]

In [ ]:
# 리스트 분할 slicing
list_data = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
print(list_data)
print(list_data[0:3]) # index 0부터 (3-1)까지
print(list_data[4:8]) # index 4부터 (8-1)까지
print(list_data[:3]) # 처음부터 index (3-1)까지
print(list_data[7:]) # index 7부터 끝까지
print(list_data[::2]) # 처음부터 끝까지, 2 step 마다

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2]
[4, 5, 6, 7]
[0, 1, 2]
[7, 8, 9]
[0, 2, 4, 6, 8]

In [ ]:
print(list_data)
del list_data[6]
print(list_data)
del list_data  # index 지정 안할 시 list 자체가 삭제됨
# print(list_data) # 실행하면 error

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 7, 8, 9]

In [ ]:
list_data1 = [1, 2, 3, 4, 5]
print(5 in list_data1)
print(6 in list_data1)

True
False

In [ ]:
print(sum(list_data1))
print(min(list_data1))
print(max(list_data1))

15
1
5

리스트 메서드 이용하기 : 데이터 처리를 쉽게!

In [ ]:
print(myFriends)
myFriends.append('Yeom')
print(myFriends)

['Kim', 'Jung', 'Lee', 'Park']
['Kim', 'Jung', 'Lee', 'Park', 'Yeom']

In [ ]:
myFriends.insert(1, 'Song')
print(myFriends)

['Kim', 'Song', 'Jung', 'Lee', 'Park', 'Yeom']

In [ ]:
myFriends.extend(['Choi', 'Kang'])
print(myFriends)

['Kim', 'Song', 'Jung', 'Lee', 'Park', 'Yeom', 'Choi', 'Kang']

In [ ]:
myFriends.remove('Park')
print(myFriends)

['Kim', 'Song', 'Jung', 'Lee', 'Yeom', 'Choi', 'Kang']

In [ ]:
popFriend = myFriends.pop()
print(popFriend)
print(myFriends)

Kang
['Kim', 'Song', 'Jung', 'Lee', 'Yeom', 'Choi']

In [ ]:
indexFriend = myFriends.index('Lee')
print(indexFriend)
print(myFriends)

3
['Kim', 'Song', 'Jung', 'Lee', 'Yeom', 'Choi']

In [ ]:
countFriend = myFriends.count('Jung')
print(countFriend)
print(myFriends)

1
['Kim', 'Song', 'Jung', 'Lee', 'Yeom', 'Choi']

In [ ]:
myFriends.sort()
print(myFriends)

['Choi', 'Jung', 'Kim', 'Lee', 'Song', 'Yeom']

In [ ]:
myFriends.reverse()
print(myFriends)

['Yeom', 'Song', 'Lee', 'Kim', 'Jung', 'Choi']

In [ ]:
myFriends.clear()
print(myFriends)

[]

*튜플 (Tuple)*

튜플 만들기

In [ ]:
tuple1 = (1, 2, 3, 4)
print(tuple1)
print(type(tuple1))
print(tuple1[1])

(1, 2, 3, 4)
<class 'tuple'>
2

In [ ]:
tuple2 = 5, 6, 7, 8
print(tuple2)
print(type(tuple2))

(5, 6, 7, 8)
<class 'tuple'>

In [ ]:
tuple3 = (9, )
tuple4 = 10,
print(tuple3)
print(tuple4)

(9,)
(10,)

튜플 메서드 이용하기

In [ ]:
tuple5 = ('a', 'b', 'c', 'd', 'e', 'f')
tuple5.index('c')

2

In [ ]:
tuple6 = ('a', 'a', 'b', 'c', 'c', 'c')
tuple6.count('c')

3

*세트(Set)*

세트 만들기

In [ ]:
set1 = {1, 2, 3}
set1a = {1, 2, 3, 3}

print(set1)
print(set1a)

print(type(set1))

{1, 2, 3}
{1, 2, 3}
<class 'set'>

In [ ]:
set1.add(4)
print(set1)

set1.update({5, 7})
print(set1)

set1.update('7')
print(set1)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 7}
{1, 2, 3, 4, 5, 7, '7'}

In [ ]:
setA = {1, 2, 3, 4, 5}
setB = {4, 5, 6, 7, 8, 9, 10}

print(setA.intersection(setB)) # A와 B의 교집합
print(setA.union(setB)) # A와 B의 합집합
print(setA.difference(setB)) # A-B (A에 대한 B의 차집합)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

In [ ]:
print(setA & setB)
print(setA | setB)
print(setA - setB)

{4, 5}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3}

리스트, 튜플, 세트 간 타입 변환

In [ ]:
list_ex = [1, 2, 3, 4, 5, 5]
type(list_ex)

list

In [ ]:
tuple_ex = tuple(list_ex)
print(tuple_ex)
type(tuple_ex)

(1, 2, 3, 4, 5, 5)

tuple

In [ ]:
set_ex = set(list_ex)
print(set_ex)
type(set_ex)

{1, 2, 3, 4, 5}

set

In [ ]:
list(tuple_ex)

[1, 2, 3, 4, 5, 5]

In [ ]:
list(set_ex)

[1, 2, 3, 4, 5]

*딕셔너리 (Dictionary)*

딕셔너리 만들기

In [ ]:
country_capital = {"영국":"런던", "프랑스":"파리", "스위스":"베른", "호주":"멜버른", "덴마크":"코펜하겐"}
print(country_capital)
type(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}

dict

In [ ]:
country_capital["영국"]

'런던'

In [ ]:
dict_data1 = {1:"Bus", 2:"Airplane", 4:"Taxi", 5:"Walk"}
print(dict_data1)
dict_data1[2]

{1: 'Bus', 2: 'Airplane', 4: 'Taxi', 5: 'Walk'}

'Airplane'

In [ ]:
dict_data2 = {1:10, 2:20, 3:30, 4:40, 5:50}
print(dict_data2)
dict_data2[4]

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

40

In [ ]:
dict_data3 = {"list_data1":[11, 12, 13], "list_data2":[21, 22, 23]}
print(dict_data3)
print(dict_data3["list_data1"])

{'list_data1': [11, 12, 13], 'list_data2': [21, 22, 23]}
[11, 12, 13]

In [ ]:
mixed_dict = {1:10, 'dict_num':{1:10, 2:20},
              'dict_list_tuple':{"A":[11, 12, 13], "B":[21, 22, 23]},
              "dict_string":"This is Dict"}
print(mixed_dict)
mixed_dict['dict_num']

{1: 10, 'dict_num': {1: 10, 2: 20}, 'dict_list_tuple': {'A': [11, 12, 13], 'B': [21, 22, 23]}, 'dict_string': 'This is Dict'}

{1: 10, 2: 20}

딕셔너리 다루기

In [ ]:
print(country_capital)
country_capital["독일"] = "베를린"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐'}
{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '멜버른', '덴마크': '코펜하겐', '독일': '베를린'}

In [ ]:
country_capital["호주"] = "캔버라"
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '덴마크': '코펜하겐', '독일': '베를린'}

In [ ]:
del country_capital["덴마크"]
print(country_capital)

{'영국': '런던', '프랑스': '파리', '스위스': '베른', '호주': '캔버라', '독일': '베를린'}

딕셔너리 메서드

In [ ]:
fruit_code = {"사과":101, "수박":102, "자두":103, "복숭아":104, "바나나":105}

print(fruit_code.keys())
print(fruit_code.values())
print(fruit_code.items())

dict_keys(['사과', '수박', '자두', '복숭아', '바나나'])
dict_values([101, 102, 103, 104, 105])
dict_items([('사과', 101), ('수박', 102), ('자두', 103), ('복숭아', 104), ('바나나', 105)])

In [ ]:
list(fruit_code.keys())

['사과', '수박', '자두', '복숭아', '바나나']

In [ ]:
fruit_code2 = {"오렌지":106, "키위":107}
fruit_code.update(fruit_code2)
print(fruit_code)

{'사과': 101, '수박': 102, '자두': 103, '복숭아': 104, '바나나': 105, '오렌지': 106, '키위': 107}

In [ ]:
print(fruit_code2)
fruit_code2.clear()
print(fruit_code2)
print(type(fruit_code2))

{'오렌지': 106, '키위': 107}
{}
<class 'dict'>